body {
    color: #000;
    font-family: serif;
}

header.top-header {
    margin: 0 0 3em 0;
    padding: 0 0 1em 0;
    border-bottom: 1px solid #000;
}

header.top-header small a {
    text-transform: uppercase;
}

header p.top-text {
    font-size: 4em;
    margin: 0 auto;
    padding: 0 auto;
}
header p.top-text span {
    font-weight: lighter;
}

footer {
    margin: 3em 0 0 0;
    padding: 1em 0 0 0;
    border-top: 1px solid #000;
}

div.post-list section {
    margin: 0;
    padding: 0;
}
div.post-list section h2 {
    margin: 1em 0 0.5em 0;
    padding: 0;
}
div.post-list section p {
    margin: 0 0 0 2em;
    padding: 0;
}

header.post-header {
    margin: 0 0 2em 0;
    padding: 0 0 0 0;
}

article.post header.post-header h1.post-title {
    font-size: 2.4em;
    margin: 0;
    padding: 0;
}

article.post header.post-header h1.post-title span.issue-title {
    font-weight: lighter;
}

div.post-content {
    margin: 0 0 0 2%;
    padding: 0 0 0 0;
}

div.post-content section {
    margin: 0 0 0 2%;
    padding: 0 0 0 0;
}

div.post-content section h1,
div.post-content section h2,
div.post-content section h3,
div.post-content section h4,
div.post-content section h5,
div.post-content section h6 {
    margin: 0 0 0 -2%;
    padding: 0 0 0 0;
}
div.post-content section h2, h3, h4, h5, h6 {
    margin: 0 0 0 -1%;
    padding: 0 0 0 0;
}
div.post-content section h1 {
    font-size: 2em;
}
div.post-content section h2 {
    font-size: 1.8em;
}
div.post-content section h3 {
    font-size: 1.6em;
}
div.post-content section h4 {
    font-size: 1.4em;
}
div.post-content section h5 {
    font-size: 1.2em;
}
div.post-content section h6 {
    font-size: 1em;
}

blockquote {
    border-left: 16px solid #aaa;
    background-color: #eee;
    padding: 1em;
    font-style: italic;
}

a {
    color: #000;
}
