header {
    margin: 0 0 3em 0;
    padding: 0 0 1em 0;
    border-bottom: 1px solid #000;
}

header p.top-text {
    font-size: 4em;
    margin: 0 auto;
    padding: 0 auto;
}
header p.top-text span {
    font-weight: lighter;
}

footer {
    margin: 3em 0 0 0;
    padding: 1em 0 0 0;
    border-top: 1px solid #000;
}
