<!DOCTYPE html>
<html>
    <head>
    {% include head.html %}
    </head>

    <body>
        <header class="top-header">
            <p class="top-text">
                <strong>Viua VM</strong>
                <span>Weekly</span>
            </p>

            <small>
                <a href="/">
                    weekly.viuavm.org
                </a>
            </small>
            -
            <small>
                <a href="http://viuavm.org/">
                    viuavm.org
                </a>
            </small>
        </header>

        {{ content }}

        {% include footer.html %}
    </body>
</html>
